node_modules
.env
.github/dependabot.yml
yarn.lock

# DATA FILES
# data/ple_attempts.csv
# data/uce_attempts.csv
# data/uace_attempts.csv
# data/coupons.csv
/data

# Ignore everything in the public/ directory
public/*

# But do not ignore the images/ directory
!public/images/
